<h1>Post#modify</h1>

<!--
<form action="/post/update/<%#=@post.id%>" method="post">
    title : <input type="text" name="title" value="<%#=@post.title%>"/><br>
    content : <input type="text" name="content" value="<%#=@post.content%>"/><br>
    <input type="hidden" name="authenticity_token" value="<%#=form_authenticity_token()%>" />
    <input type="submit" value="submit" /><br>
</form>
-->
<%= form_tag("/post/update/#{@post.id}", method: "post") do %>
  <%= label_tag(:title, "title :") %>
  <%= text_field_tag(:title, @post.title) %><br>
  <%= label_tag(:content, "content :") %>
  <%= text_field_tag(:content, @post.content) %><br>
  <%= submit_tag("submit") %>
<% end %>